body {
    /*color: #eee;*/
    background: black;
    margin: 0;
    overflow-x: hidden;
    /*box-sizing: border-box;*/
}

.transition{
    transition: all .5s;
}

.wrap {
    width: 100%;
    /* fixed width, centered in viewport */
    /*left: -50%;
    margin-left: 50%;
    position: relative;*/
}

#showcase {
    visibility: hidden;
}

#showcase {
    height: 100vh;
    /*background-image: url("../images/bg/0.jpg");*/
    background-color: transparent;

}

#bgImg {
    position: absolute;
    /*background-image: url("../images/bg/0.jpg");*/
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#showcase > .cloud9-item > .itemDiv {
    cursor: pointer;
    height: 92px;
    width: 92px;
    background-color: rgba(20, 20, 20, .9);
    border-radius: 50%;
    border: 4px solid #998675;
    position: absolute;
    left: -50px;
    top: -50px;
}

#showcase > .cloud9-item > .itemDiv.active {
    height: 218px;
    width: 218px;
    left: -120px;
    top: -120px;
    border: 6px solid #998675;
    box-shadow: 0 1px 0 3px rgba(153, 134, 166, 0.57); 

}

#showcase > .cloud9-item > .itemDiv > img {
    position: absolute;
    left: 21px;
    top: 21px;
    width: 50px;
}

#showcase > .cloud9-item > .itemDiv > .itemImg.active {
    width: 150px;
    left: 35px;
    top: 38px;
}



#item-title {
    color: #F31414;
    font-size: 29px;
    letter-spacing: 0.13em;
    text-shadow: 1px 1px 6px #C72B2B;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 22px;
}

#nav {
    /*text-align: center;*/
    /*position: relative;*/
    width: 500px;
    margin: 0 auto 0 auto;

}

#nav > button {
    width: 64px;
    height: 36px;
    color: #666;
    font: bold 16px arial;
    text-align: center;
    margin: 5px;
    text-shadow: 0px 1px 0px #f5f5f5;
    background: #f6f6f6;
    border: solid 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#nav > button:active,
#nav > button.down {
    background: #dfdfdf;
    border: solid 2px rgba(0, 0, 0, 0.6);
    box-shadow: none;
}



.introText {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    width: 400px;
    height: 70px;
    text-align: center;
    border-radius: 15px;


    /*left: 630px;*/
    top: 600px;
    margin-left: 50px;

}
.introText > h2 {
    font-size: 28px;
    line-height: 60px;
    padding-top: 7px;

}
.introText > h3 {
    font-size: 20px;
    line-height: 36px;

}
.introText a {
    font-size: 16px;
    line-height: 36px;
    cursor: pointer;
    color: #fff;
    opacity: 0;
}

.introText:hover{
    /*height: 130px;*/
    background-color: rgba(255, 255, 255, 0.9);
}

/*.introText:hover a{
   opacity: 100;
}*/

footer {
    /*display: block;*/
    /*position: absolute;*/
    /*text-align: center;*/
    width: 200px;
    margin: 680px auto 0 auto;
    /*text-align: center;*/
}

.toMain {
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    /*color: #cbcbcb;*/
    color: #e63d27;
    line-height: 50px;

}

.downSign{
    font-size: 26px;
    /*color: rgba(255,255,255, .6);*/
    color: #e63d27;
    /*background-color: #fff;*/
    /*float: left;*/
    line-height: 0px;
    border-radius: 50%;
}

.downSign:hover{
    font-size: 30px;
    /*color: rgba(255,255,255, .8);*/
    color: #e63d27

}

.testbutton {
    display: none;
    /*margin-top: 100px;*/
}

/*.itemDivTest {
    cursor: pointer;
    height: 132px;
    width: 132px;
    background-color: #222;
    border-radius: 50%;
    border: 9px solid #998675;
    position: absolute;
    left: -75px;
    top: -75px;
    display: none;
}

.itemImgTest {
    position: absolute;
    left: 28.5px;
    top: 28.5px;
    width: 75px;
    display: none;
}*/

/* 單純知道位置而寫*/
.cloud9-item {
    /*width: 10px;
    height: 10px;
    background-color: #ccc;*/
}


/* 左右按鈕測試 */
.left, .right {
    /*background-color: #0f0;*/
    position: absolute;
    cursor: pointer;
    color: rgba(255,255,255);
    top: 620px;
}


.left {
    width: 250px;
    float: left;

}
.right {
    width: 250px;
    margin-left: 250px;
    text-align: right;
}